<div class="container-fluid">
    <div class="row align-items-center justify-content-md-center p-1">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 p-4 border border-2 rounded">
            <div class="text-center">
                <img src="../../../assets/img/not_found.svg" class="img-fluid">
                <h3 >Sorry! But this page is not available.</h3>
                <img src="../../../assets/img/home.svg"  class="rounded-circle" style="background-color: #5d00fd;padding: 10px;border: 2px solid #3c10ff;cursor: pointer;" (click)="navigatePage('')"> 
            </div>
        </div>
    </div>
</div>