$warning : #ff6200;
.container-fluid {
    background-color: rgb(250, 253, 253);
    // height: 100vh;
}
.colWithOutPadding{
    padding: 0px  !important;
}
.colHeight{
    height: calc(100vh - 15vh);
    
}
.commentBoxHeader{
    padding: 10px;
    border-radius: .25rem .25rem 0rem 0rem   !important;
    color: white;
    background-color: #0d6efd!important;
    span{
        font-weight: bold;
    }
}
.commentBoxMain{
    background-color: white;
    overflow-y: auto;
    min-height: auto;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px #0d6efd;
	border-radius: 5px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 3px #0d6efd;
	background-color: #0d6efd;
}

.commentBoxInput{
    // background-color: #0d6efd!important;
}
