<app-navigation></app-navigation>
<div class="container">
    <div class="text-center" style="padding: 3vw;" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
        <h1 class="display-4" style="font-weight: bold;opacity: 0.7;">Choose your action..........</h1>
    </div>
    <div class="row align-items-center justify-content-md-center p-1" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="3000">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div>
                <img src="../../../assets/img/comment.svg" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <div style="font-size: 2.5vw;opacity: 0.7;">
                <span style="color: rgb(52, 181, 204);cursor: pointer;" (click)="navigatePage('comments')">Click
                    here</span> or on navbar to do comment and other actions on comment tab.
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-md-center p-1" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <div style="font-size: 2.5vw;opacity: 0.7;">
                <span style="color: rgb(52, 181, 204);cursor: pointer;" (click)="navigatePage('user-upload')">Click
                    here</span> or on navbar to upload user list using upload tab.
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div>
                <img src="../../../assets/img/upload.svg" class="img-fluid">
            </div>
        </div>
    </div>
</div>