<div class="container-fluid">
    <div class="row align-items-center justify-content-md-center p-1" style="height: 100%;">
        <div class="col-sm-12 col-md-6	col-lg-4 col-xl-4 col-xxl-4 p-4 border border-2 rounded
        ">
        <div class="text-center" style="opacity: 0.7;text-decoration: underline;">
            <h3 >Login Here</h3>
        </div>
            <div class="text-center">
                <img src="../../../assets/img/login.svg" class="img-fluid " style="height: 30vh;">
            </div>
            <div class="erroBlock text-center">
                <span>{{signInFormErrorText}}</span>
            </div>
            <form [formGroup]="authForm">
                <label for="email" class="form-label">Email</label>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
                <label for="password" class="form-label">Password</label>
                <div class="input-group mb-3">
                    <input type="{{passwordStatus?'password':'text'}}" class="form-control" id="password" formControlName="password">
                    <span class="input-group-text" (click)="loadImg()" style="cursor: pointer;"><img src="../../../assets/img/{{passwordImg}}" style="height: 20px;width: 20px;opacity: 0.5;"></span>
                  </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-success mb-2" (click)="signIn()">login here</button>
                    <button type="button" class="btn btn-outline-primary" (click)="navigatePage('home')">go to home</button>
                  </div>
            </form>
        </div>
    </div>
</div>
