.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #0d6efd!important;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    margin: 20px auto;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container-fluid {
    background-color: rgb(250, 253, 253);
    height: calc(100vh - 300px);
}
.row{
    height: 100%;
}
