<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://static.wixstatic.com/media/52940e_82624ed49fd84ec5ad914de2ea6d45b0~mv2.png/v1/fill/w_188,h_50,al_c,q_85,usm_0.66_1.00_0.01/AIFMetrics%20white.webp" alt="" width="180" height="45">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ms-auto flex-nowrap" >
                    <li class="nav-item" title="click to add comment" (click)="navigatePage('comments')" *ngIf="isLogin">
                      <a class="nav-link active" aria-current="page" >Comment</a>
                    </li>
                    <li class="nav-item" title="click to upload users"  (click)="navigatePage('user-upload')" *ngIf="isLogin">
                        <a class="nav-link active" aria-current="page">Upload</a>
                    </li>
                    <li class="nav-item" title="click to see profile"  (click)="navigatePage('user-profile')" *ngIf="isLogin">
                        <img class="nav-link" src="../../../assets/img/user.svg" style="height: 40px;">
                    </li>
                    <li class="nav-item" title="click to login"  (click)="navigatePage('login')" *ngIf="!isLogin">
                        <img class="nav-link" src="../../../assets/img/loginIcon.svg" style="height: 40px;">
                    </li>
                    <li class="nav-item" title="click to logout"  (click)="logout('/')" *ngIf="isLogin">
                        <img class="nav-link" src="../../../assets/img/logoutIcon.svg" style="height: 40px;">
                      </li>
                  </ul>
            </div>
        </div>
    </nav>
</div>